server:
  port: 8080

eureka:
  instance:
    hostname: localhost
  client:
    #  两个false代表是服务端，就不用自己注册
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    #测试时关闭自我保护机制，保证不可用服务及时提出
    enable-self-preservation: false
spring:
  application:
    name: eurka-server
